@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
body {
font-family: 'Indie Flower', cursive;
font-size: 14px;
margin: 20px auto;
text-align:center;
}
a:link, a:visited, a:active {color: #c00; text-decoration:none;}
a:hover {color: #000;}
strong {font-weight:bold;}
h1 {font-size: 3.8em;}
header,section,footer,h1,#contacts {margin: 10px auto;}
nav {font-size:1.3em; font-weight: bold; margin: 20px auto;} 
nav ul li {display:inline; margin-right:1.1em;}
nav ul li.last {margin-right:0;}
.hidden {display: none;}
.icon {background:url(../images/icons_666.jpg);height:24px;}
a:hover img.icon {background:url(../images/icons_000.jpg);}
.gplus {width:24px;}
.twitter {width:33px;background-position:-24px 0 !important;}
.youtube {width:22px;background-position:-57px 0 !important;}
.rss {width:24px;background-position:-79px 0 !important;}
.mail {width:25px;background-position:-103px 0 !important;}
.facebook {width:24px;background-position:-129px 0 !important;}
#contacts {font-weight:bold; font-size:1em; line-height:2.2em;}
#contacts, #contacts a:link, #contacts a:visited {color: #666;}
#contacts a:hover {color: #000;}
#contacts img {margin: 0 5px -5px 0;}
#contacts ul li {display:inline; margin: 0 1em;}
